name: Deploy to EC2

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@master
      with:
        host: 65.2.127.251
        username: ubuntu
        key: ${{ secrets.MERN_DEPLOYMENT_EC2_PRIVATE_KEY }}
        script: |
          cd ~/mern-deployment
          git pull origin master
          npm install --force
          pm2 restart mern-deploy
